import {{upperCamelCaseName}}Component from './{{dashCaseName}}.component';

describe('{{upperCamelCaseName}}Component', () => {
  let component: {{upperCamelCaseName}}Component;

  beforeEach(() => {
    component = new {{upperCamelCaseName}}Component();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});