import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  selector: '{{componentPrefix}}-{{dashCaseName}}',
  templateUrl: './{{dashCaseName}}.component.html',
  styleUrls: ['./{{dashCaseName}}.component.scss'],
  standalone: true,
  imports: [],
  changeDetection: ChangeDetectionStrategy.OnPush
})
export default class {{upperCamelCaseName}}Component {

}